# Logs
logs/
wandb/

# Caches
cache/
__pycache__
*.egg-info
source/cached_features.p
.ipynb_checkpoints
.dvc/
.hypothesis/
*.joblib

# Local environment files (for e.g. API keys)
.env
*.pem

# Personal (e.g. editor) configuration
.vscode/

# Data files
*.csv
*.feather
*.gz
*.parquet
*.pdf
*.png
*.pq

# macOS system files
.DS_Store
